server:
  port: 8181

spring:
  application:
    name: api-gateway
  cloud:
    gateway:
      routes:
        - id: user-auth-service
          uri: lb://user-auth-service
          predicates:
            - Path=/api/auth/**, /api/users/**, /api/addresses/**
        - id: product-service
          uri: lb://product-service
          predicates:
            - Path=/api/products/**
        - id: order-service
          uri: lb://order-service
          predicates:
            - Path=/api/orders/**, /api/cart/**
        - id: payment-service
          uri: lb://payment-service
          predicates:
            - Path=/api/payments/**, /api/coupons/**
        - id: shopping-service
          uri: lb://shopping-service
          predicates:
            - Path=/api/**

      globalcors:
        cors-configurations:
          '[/**]':
            allowedOrigins: "http://localhost:4200"
            allowedMethods:
              - GET
              - POST
              - PUT
              - DELETE
              - OPTIONS
            allowedHeaders: "*"

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
    registry-fetch-interval-seconds: 5
